doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='http://d3js.org/d3.v3.min.js')
    script(src='/js/d3.layout.cloud.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  body
    block content
  script(src='/js/eventsniffer.js')