body
  height: 100%
  padding: 50px
  font: 14px "Tahoma", Geneva, sans-serif
  background-color: #000000
  color: #FFFFFF
a
  color: #00B7FF
#background-overlay
  z-index: -1
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 100%


.node
  stroke: #fff;
  stroke-width: 1.5px;


.link
  stroke: #999;
  stroke-opacity: .6;
